sub make_project_hash {
    return {
#        PROJECT_DIR   => '/home/phil/Java/Build/demo',
        PROJECT_DIR   => '.',
        BUILD_SUCCESS => '/home/phil/Java/Build/build.success',
        PROJECTS      => [
            { NAME => 'common'                },
            { NAME => 'screen', DONT_JAR => 1 },
        ],
    };
}

1;
